@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}
#output {
  width: 100%;
  max-width: 100%;
  height: auto;
  font-size: 52px;
  margin-bottom: 1rem;
  direction: rtl;
  font-family: "Amiri", serif;
  text-align: center;
  border-bottom: 2px solid black;
  line-height: 1.2;
}
.keyboard {
  display: grid;
  grid-template-columns: repeat(15, 50px);
  gap: 5px;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 24px;
}
.key {
  background-color: #000;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
}
.wide {
  grid-column: span 2;
}
.menu{
  position: absolute;
  bottom: 0;
  width: 100vw;
  left: 0;
  background-color: coral;
  padding: 8px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: black!important;
}
.wrapper{
  margin-top: 100px;
  max-width: 900px;
}
button{
  border: none;
  background-color: transparent;
  font-size: 18px;
}
button:hover{
  cursor: pointer;
}
@media print{
  body{
    background-color: transparent;
  }
  .hide{
    display: none;
  }
  #output {
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
  }
}

@media only screen and (max-width: 600px)  {
  .keyboard{
    grid-template-columns: repeat(15, 22px);
    gap: 2px;
  }
  .key{
    font-size: 16px;
    padding: 5px;
  }
}